{% extends 'base.html'%}
{% load static %}
{% block content %}
<div class="text-center fs-2"  >
    About <b class="txt-mycolor ">Us <i class="fa-solid fa-circle-info"></i></b>
</div>
<div class="row">
    <div class="col-sm-10 mx-auto my-3">
        <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <iframe style="height:400px;" src="https://www.youtube.com/embed/mHgtNN_dZvk?si=TVmy-V6QiJyeqsww" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="row fs-4">
                <h4 style="border-bottom: 5px solid purple; font-family:forte;" class="text-dark"> Let us you to know more about us..</h4>
DreamPlanner is event management team, which can manage all the events like organising seminar,wedding functions,corporate events,birthday parties and more .
                We can built an outstanding reputation for managing so many successful events with superior services.We value and pride ourselves on the genuine relationships that have
                built with both our talent and our clients,as we continue to grow look forward to the future.

            </div>
            </div>
        </div>
    </div>
</div>
{% endblock%}