{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    
    .ra {
        background: whitesmoke;
        border-radius: 5px;
        min-height: 300px;
        width: 900px;
    }

    .r {
        border-radius: 5px;
    }

    .rs {
        border-radius: 8px;
        background: white;
    }
</style>
<div class="a">
    <div class="container-fluid py-2 ">
        <div class="row">
            <div class="col-sm-12 fs-5  text-center py-2">
                <h4>Contact<b class="txt-mycolor"> With Us</b></h4>

                <p class="sectionContent">
                    You may contact us by contact number or fill this form any time you need professional support
                    or<br />
                    have any question.
                </p>
            </div>
            <div class="container-fluid ra bg-mycolor py-4 px-4 ">
                <div class="row">
                    <div class="col-sm-6 r  py-2 fs-4">
                        <form method="post">
                            {% csrf_token %}
                            <u>Send</u><b> Your Message </b>
                            <br/>
                            <br>
                            <div class="row">
                                <div class="col-sm-12 input-group mb-3">
                                    <i class="fa-solid fa-user input-group-text bg-mycolor text-light"></i>
                                    <input type="text" name="name" required placeholder=" Enter your Name" class="form-control">
                                </div>
                                <div class="col-sm-12 input-group mb-3">
                                    <i class="fa-solid fa-envelope input-group-text bg-mycolor text-light"></i>
                                    <input type="email" name="email" required pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}" placeholder=" Enter your Email" class="form-control">
                                </div>
                                <div class="col-sm-12 input-group mb-3">
                                    <i class=" input-group-text bg-mycolor text-light"><i class="fa-solid fa-phone"></i></i>
                                    <input type="number" name="mobile" required pattern="[0-9]{10}" placeholder=" Enter your Mobile number"
                                        class="form-control">
                                </div>
                                <div class="col-sm-12 input-group mb-3">
                                    <i class="fa-solid fa-message input-group-text bg-mycolor text-light"></i>
                                    <textarea name="message" style="min-height: 80px; resize:none" placeholder="Message"
                                        class="form-control"></textarea>
                                </div>
                                <input type="submit" value="ContactUs" class="bg-mycolor w-25 mx-3 form-control">
                            </div>
                            
                               
                           
                        </form>
                    </div>
                    <div class="col-sm-6 rs py-1 ">
                        <b class="fs-4">Contact <u> Info</u></b><br />
                        <div class="px-3">

                            <b class="fs-5"><i class="fas fa-map-marker-alt"></i> Offic <u>Address</u>
                                </b><br />
                            <div class="px-5">
                                <p>
                                    Plot No-44, Behind H.P Petrol Pump,<br>
                                    Tedhi Pulia Ring Rd, Sector 5,<br>
                                    Vikas Nagar, Lucknow <br>
                                    Uttar Pradesh 226022
                                </p>
                            </div>
                            <b class="fs-5">
                                <i class="fa-solid fa-phone"></i> Call <u>Us<u></b><br />
                            <div class="px-5">
                                <p>
                                    <a href="tel:+91 7007237006">+91 8885219422</a><br />
                                    <a href="tel:+91 8052978684">+91 8127636924</a>
                                </p>
                            </div>
                            <b class="fs-5"><i class="fa-solid fa-envelope"></i> Mail <u>Us</u></b>
                            <div class="px-5">
                                <p>
                                    <a href="mailto:pradum@gmail.com">pradum@gmail.com</a><br />
                                    <a href="mailto:hr@techpile.in">hr@techpile.in</a>
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}