{% extends 'base.html'%}
{% load static %}
{% block content %}
<div class="text-center fs-2"  >
    Video <b class="txt-mycolor ">Gallery <i class="fa-solid fa-video"></i></b>
</div>
<div class="row">
    <div class="col-sm-10 mx-auto">
        <div class="row">
            <div class="col-sm-12 ">
                {% for a in vdata%}
            <a href="/user/vigallery?x={{a.id}}" class="badge rounded-pill bg-dark text-light" style="text-decoration:none;" >{{a.event_name}}</a>
        {% endfor %}
            </div>
            </div>
        <div class="row mt-3">
             {% for a in vdata%}
            <div class="col-sm-3 py-2">
            <div class="card " style="width: 25rem;">
                <iframe class="img-card-top" src="{{a.vlink}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                <div class="card-body">
                    <b>{{a.category}}</b>
                    <b>{{a.event_name}}</b>
                    <p>{{a.event_des}}</p>
                    <span class=" badge bg-dark text-light">
                             <i class="fa-solid fa-calendar-days"></i> {{a.vdate}}</span>
                </div>
            </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock%}